<head>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>
            {% if page.title %}
            {{ page.title }} - Thomas Granger {% else %}
            ThomasGranger {% endif %}
        </title>
        {%- comment -%}
        <meta name="theme-color" content="" /> {%- endcomment -%}
        {%- comment -%} Choose a theme color {%- endcomment -%}
        <meta name="description" content="{{ page.description }}" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta property="og:title" content="{{ page.title | escape }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <!-- <meta
      property="og:image"
      content=""
    /> -->
        <!-- Add main image -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        <link rel="stylesheet" href="/css/main.css" />
        <script src="js/main.js" defer></script>
        {% if page.stylesheets %} {% for stylesheet in page.stylesheets %}
        <link rel="stylesheet" href="/css/{{ stylesheet }}.css" />
        {% endfor %} {% endif %}

        {% if page.scripts %} {% for script in page.scripts %}
        <script src="/js/{{ script }}.js" defer></script>
        {% endfor %} {% endif %}
    </head>
</head>
