<article id=topnav>
<div>
	<a href="http://b.parsons.edu/~grant244/parsons/Midterm/digitalproduct.html" class="worklk">
				<img src="http://b.parsons.edu/~grant244/parsons/Midterm/img/digitalproduct.jpg" alt="Digital Product" 
				onmouseover="this.src='http://b.parsons.edu/~grant244/parsons/Midterm/img/dpbck.jpg';"
				onmouseout="this.src='http://b.parsons.edu/~grant244/parsons/Midterm/img/digitalproduct.jpg';"></a>
</div>
<div>
	<a href="http://b.parsons.edu/~grant244/parsons/Midterm/physicalobject.html" class="worklk">
			<img src="http://b.parsons.edu/~grant244/parsons/Midterm/img/physicalobjects.jpg" alt="Physical Object"
			onmouseover="this.src='http://b.parsons.edu/~grant244/parsons/Midterm/img/pobck.jpg';"
				onmouseout="this.src='http://b.parsons.edu/~grant244/parsons/Midterm/img/physicalobjects.jpg';"></a>
</div>
<div>
	<img src="http://b.parsons.edu/~grant244/parsons/Midterm/img/about.jpg" alt="About Me">
</div>
</article>
